html, body {
    height: 100%;

}

body {
    margin: 0;
    padding: 0;
    font: 13px auto Trebuchet MS Verdana Arial Helvetica sans-serif;;
	color: #4f6b72;
	background: #E6EAE9;
}

body, p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

h1, h2, h3 {
    clear: both;
}

.wrapper {
/*-28px = footer height */
    margin: 0 auto -28px auto;
    width: 960px;
    min-height: 100%;
    height: auto !important;
    position: relative;

}

.header {
    height: 60px;
    background-color: #B2CFFF;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    line-height: 60px;
    border-radius: 4px;
}

.hidden { display:none }
/*YG
.button { background:#4682B4; width:100px; padding:10px; cursor:pointer; border-radius:5px;color:#f5f5f5;font-size:12px }
*/
/*YG*/

a {
    color: #c75f3e;
    text-decoration:none;
}


.button {
    background: none no-repeat scroll 8px 8px #F5F5DC;
    border-radius: 2px 2px 2px 2px;
    display: inline-block;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-bottom: 6px;
    margin-right: 6px;
    padding-left: 32px;
    padding-right: 12px;
    text-decoration: none;
    color: #00F;
	border:none;
	cursor:pointer;
}

.button:hover {
    background-color: #F0E68C;
    color: #00000f;
}

.button:visited {
    color: #00F;
    cursor: pointer;
}


/* FILTERS */
strong.remove-filter { cursor:pointer; color:red;
/*YG*/
background-image: url("../images/destroy.png");
margin-left:6px;
height: 16px;
width: 16px;
display:inline-block;
float:none;
}

 

/* FILTERS END */

/* [PAGE: reports/customize]  END */

#report {
	width: 100%;
	padding: 0;
	margin: 0;
}

caption {
	padding: 0 0 5px 0;
	width: 900px;
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

th {
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(/images/bg_header.jpg) no-repeat;
}

td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}

div#report_form {
	height: auto;
	/*YG
	float: left;
	border: 1px dashed white;
	width: 59%;
	*/
}

/* DRAG AND DROP */
div.draggable {
    cursor:pointer;
    font-weight:bold;
    color:red;
}
div#selected-columns {
    width:300px;
    height:200px;
    background:black;
}

div#available-columns {
    width:300px;
    height:200px;
    background:blue;
}
div.draggable-on-hover {
    background: green;
}
/* DRAG AND DROP END */

div#report-filters {
	/*YG*/
	background-color:#B2CFFF;
	border-radius:4px;
	padding:8px;
	margin-bottom:12px;
    /*YG
	float:left;
	position:relative;
	height: 100%;
	width: 340px;
	display:inline;
	*/
}

div#report-fields{
	float:left;
 	/*YG*/
	background-color:#B2CFFF;
	border-radius:4px;
	padding:8px;
	width: 224px;
}

div#report-ordering {
	/*YG*/
	background-color:#B2CFFF;
	border-radius:4px;
	padding:8px;
	margin-bottom:12px;
 
}

div.report_ref {
    background:url("/images/report.png") no-repeat;
    padding-left:19px;
    font-size:15px
}


/*  */

.flash {
    width: 960px;
    height: auto !important;
    position: absolute;
    display: none;

}

.flash_entry {
    min-height: 18px;
    border-radius: 4px;
    border: 1px solid;
    padding: 18px 8px 12px 56px;
    margin-bottom: 12px;
    background: none no-repeat scroll 12px 12px #FFFFFF;
}

.flash_notice {
    background-image: url("../images/info.png");
    border-color: #adff2f;
}

.flash_warning {
    background-image: url("../images/warning.png");
    border-color: #faebd7;
}

.flash_error {
    background-image: url("../images/error.png");
    border-color: #dc143c;
}

#error_explanation {
    border-radius: 4px;
    border: 1px solid #dc143c;
    padding: 8px;
    background-color: #DBD2D4;
}

#error_explanation h1 {
    color: #dc143c;
}

.toolbar {
    margin: 0;
    padding: 8px;
	border-radius:4px;
    height: 30px;
	background-color:#B2CFFF;
	margin-bottom:6px;

}

.btn_choose{
background-image: url("../images/choose.png");
}
.btn_run {
    background-image: url("../images/run.png");
}
.btn_run_disabled {
    background-image: url("../images/run_disabled.png") ;
    background-color: #c1c1c1;
}
.btn_export {
    background-image: url("../images/export.png");
}
.btn_export_disabled {
    background-image: url("../images/export_disabled.png");
    background-color: #c1c1c1;
}
 a.button.btn_export_disabled,  a.button.btn_run_disabled {
    color:gray;
}

 a.button.btn_export_disabled:hover,  a:hover.button.btn_run_disabled:hover {
    background-color: #c1c1c1;
    pointer-events: none;
    cursor: default;
}

.add-new-filter{
   background-image: url("../images/add.png");
   float:none;
}
.content {
    padding-top: 12px;
    clear: both;
}
.central{
width:708px;
padding-left:12px;
float:left;
}
.filter{

margin-right:24px;
}
#report-placeholder{
clear:both;
margin-top:6px;
border-radius:4px;
padding:8px;
background-color:#B2CFFF;
}
.hint {
    font-size: 10px;
    color: #a9a9a9;
    margin-bottom: 1em;
}


/*FOOTER*/

.footer_spacer {
/*footer height + space aboe */
    height: 68px;
	clear:both;
}

.footer {
    margin: 0 auto;
    width: 944px;
    height: 12px;
    padding: 8px;
    background-color: #B2CFFF;
    font-size: 10px;
    line-height: 12px;
    border-radius: 4px;
}

.footer, .footer a {
    color: #777A7C;
}

/*LOADER DIV*/

#ajax-load-background {
    display:none;
    opacity:0.55;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: none repeat scroll 0% 0%;
    background-color:#000;
    z-index: 4999;
}
#ajax-load {
    position: fixed;
    z-index: 5000;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    text-align: center;
}
#ajax-load #ajax-load-title, #ajax-load #ajax-load-help { color: #fff; }
#ajax-load #ajax-load-title { font-size: 16px; }
#ajax-load #ajax-load-help {font-size: 10px;}