<div id='reports'>

  <div class="toolbar">
	 <%= link_to 'Choose report type', root_path, :class=>"button btn_choose" %>
     <%= link_to 'Run report', nil, :id => "report_submit", :class => "button btn_run_disabled" %>
	 <%= link_to 'Export', nil, :id => 'download-csv', :class=>"button btn_export_disabled" %>
    </div>

  <% @report_types.each do |report_type|  %>
    <div class="report_ref"><%= link_to "#{report_type} report", "/reports/customize/#{report_type}"%></div>

  <% end %>

</div>
